<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>easyStudio</title>
    <script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"><\x3C/script>')</script>
    <script src=""></script> 
    {{{_sections.head}}}
</head>


    {{{body}}}


</html>