{{#section 'head'}}

<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"> 
<link href="../static/css/editor-app-styles.css" rel="stylesheet"> 

{{/section}}

<body style="height: 100%">
  <div id="header">
    <a href="../list" id="list-icon"><i class="fas fa-th-list" ></i></a>
    <input id="name-field" type="text" placeholder="New template" >
  </div>
  <div id="editor">

  </div>
</body>
<script>
  easyAppState = JSON.parse('{{{ easyAppState }}}');
</script>
<script src='../static/js/templateEditor.js'></script>
<script src='../static/js/editor-app.js'></script>